<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/747ececb-99c7-4724-a5a7-7091688d6c0e/resourceGroups/WorkerServiceRG/providers/Microsoft.ContainerRegistry/registries/workerServiceCR</ResourceId>
    <ResourceName>workerServiceCR</ResourceName>
    <ResourceGroup>WorkerServiceRG</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://workerservicecr.azurecr.io</RegistryUrl>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>